<div class="d-flex justify-content-center py-5">
  <h1 class="web-title">Je recrute</h1>
</div>
<div class="row justify-content-center py-1">
  <div class="col-11 col-lg-6 text-center">
    <p class="web-paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
    </p>
  </div>
</div>
<div class="my-3 py-lg-5">
  <div class="row justify-content-center">
    <div class="col-lg-3 px-4 py-3">
      <a>
        <button class="btn category-btn px-4">
          Chercheur d’emploi
        </button>
      </a>
    </div>
    <div class="col-lg-3 px-4 py-3">
      <a>
        <button class="btn category-btn px-4">
          Chercheur d’emploi
        </button>
      </a>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-3 px-4 py-3">
      <a>
        <button class="btn category-btn px-4">
          Chercheur d’emploi
        </button>
      </a>
    </div>
    <div class="col-lg-3 px-4 py-3">
      <a>
        <button class="btn category-btn px-4">
          Chercheur d’emploi
        </button>
      </a>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-3 px-4 py-3">
      <a>
        <button class="btn category-btn px-4">
          Chercheur d’emploi
        </button>
      </a>
    </div>
    <div class="col-lg-3 px-4 py-3">
      <a>
        <button class="btn category-btn px-4">
          Chercheur d’emploi
        </button>
      </a>
    </div>
  </div>
</div>
