<div class="d-flex justify-content-center">
  <div class="py-4">
    <div class="logo-banner"></div>
  </div>
</div>
<div class="d-flex justify-content-center py-4">
  <div class="text-center px-4 px-lg-0">
    <h2 class="web-title">Bienvenue à la platforme</h2>
    <h1 class="web-title">CORP MATCH</h1>
  </div>
</div>
<div class="row justify-content-center py-1">
  <div class="col-11 col-lg-6 text-center">
    <p class="web-paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
    </p>
  </div>
</div>
<div class="row justify-content-center choice-row">
  <div class="row col-10 mb-auto my-lg-auto">
    <div class="col-lg-4 text-center py-1">
      <a class="my-auto" routerLink="/employer">
        <button class="btn match-btn px-4">
          <span class="btn-content">Employeur</span>
        </button>
      </a>
    </div>
    <div class="offset-lg-4 col-lg-4 text-center py-1">
      <a class="my-auto" routerLink="/employee">
        <button class="btn match-btn px-4">
          <span class="btn-content">Chercheur d’emploi</span>
        </button>
      </a>
    </div>
  </div>
</div>
<div class="d-lg-none vector-art-container"></div>
