<div class="d-flex justify-content-center py-5">
  <div class="text-center">
    <h1 class="web-title">Je consulte</h1>
    <h2 class="category-title">{{ category?.name }}</h2>
  </div>
</div>
<div class="row justify-content-center py-1">
  <div class="col-11 col-lg-6 text-center">
    <p class="web-paragraph">
      {{ category?.description }}
    </p>
  </div>
</div>

<div class="row justify-content-center my-5">
  <div class="col-lg-10">
    <div *ngIf="businesses" class="row justify-content-center">
      <div *ngIf="businesses[pageIndex*4] || businesses[pageIndex*4+1]" class="col-lg-6">
        <a *ngIf="businesses[pageIndex*4]" [routerLink]="'/employee/agency-info/'+businesses[pageIndex*4]._id">
          <div class="row no-gutters my-4">
            <div class="col-8 text-center">
              <div class="agency-text-container-1 px-1 py-2 p-lg-3">
                <h3 class="agency-name">{{ businesses[pageIndex*4]?.name }}</h3>
                <p class="agency-description">{{ businesses[pageIndex*4]?.description }}</p>
              </div>
            </div>
            <div class="col-4">
              <div class="agency-image" [ngStyle]="{'background-image': 'url(\''+environment.url+'/'+businesses[pageIndex*4]?.logo_img+'\')'}"></div>
            </div>
          </div>
        </a>
        <a *ngIf="businesses[pageIndex*4+1]" [routerLink]="'/employee/agency-info/'+businesses[pageIndex*4+1]._id">
          <div class="row no-gutters my-4">
            <div class="col-4">
              <div class="agency-image" [ngStyle]="{'background-image': 'url(\''+environment.url+'/'+businesses[pageIndex*4+1]?.logo_img+'\')'}"></div>
            </div>
          <div class="col-8 text-center">
            <div class="agency-text-container-3 px-1 py-2 p-lg-3">
              <h3 class="agency-name">{{ businesses[pageIndex*4+1]?.name }}</h3>
              <p class="agency-description">{{ businesses[pageIndex*4+1]?.description }}</p>
            </div>
          </div>
        </div>
        </a>
      </div>
      <div *ngIf="businesses[pageIndex*4+2] || businesses[pageIndex*4+3]" class="col-lg-6">
        <a *ngIf="businesses[pageIndex*4+2]" [routerLink]="'/employee/agency-info/'+businesses[pageIndex*4+2]._id">
          <div class="row no-gutters my-4">
            <div class="col-8 text-center">
              <div class="agency-text-container-2 px-1 py-2 p-lg-3">
                <h3 class="agency-name">{{ businesses[pageIndex*4+2]?.name }}</h3>
                <p class="agency-description">{{ businesses[pageIndex*4+2]?.description }}</p>
              </div>
            </div>
            <div class="col-4">
              <div class="agency-image" [ngStyle]="{'background-image': 'url(\''+environment.url+'/'+businesses[pageIndex*4+2]?.logo_img+'\')'}"></div>
            </div>
        </div>
        </a>
        <a  *ngIf="businesses[pageIndex*4+3]" [routerLink]="'/employee/agency-info/'+businesses[pageIndex*4+3]._id">
          <div class="row no-gutters my-4">
            <div class="col-8 text-center">
              <div class="agency-text-container-4 px-1 py-2 p-lg-3">
                <h3 class="agency-name">{{ businesses[pageIndex*4+3]?.name }}</h3>
                <p class="agency-description">{{ businesses[pageIndex*4+3]?.description }}</p>
              </div>
            </div>
            <div class="col-4">
              <div class="agency-image" [ngStyle]="{'background-image': 'url(\''+environment.url+'/'+businesses[pageIndex*4+3]?.logo_img+'\')'}"></div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <app-match-paginator *ngIf="size > 4" (page)="onPage($event)" [pageIndex]="pageIndex" [size]="size" [pageSize]="4"></app-match-paginator>
  </div>
</div>
