@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

* {
  font-family: 'Poppins', sans-serif;
}

html,
body {
  min-height: 100%;
}

body {
  background: url('assets/bg-pattern.png');
}

a:hover {
  text-decoration: none;
}

.logo-banner {
  width: 150px;
  height: 60px;
  background: url('assets/corp-logo.png') no-repeat;
  background-size: contain;
}

.web-title {
  font-size: 36px;
  font-weight: 600;
  color: #1d2a59;
  letter-spacing: 3.6px;
  line-height: 0.9;
}

.web-paragraph {
  font-weight: 600;
  color: #1d2a59;
  letter-spacing: 2px;
  line-height: 1.05;
}

.match-btn {
  border-radius: 35px;
  background-color: #1d2a59;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #ffffff;
  width: 280px;
}

.match-btn:hover {
  color: #dedede;
}

.choice-row {
  min-height: 350px;
  background: url('assets/choice-art.png') no-repeat bottom center;
  background-size: contain;
}

@include media-breakpoint-down(lg) {
  .choice-row {
    min-height: auto;
    background: none;
  }
}

.vector-art-container {
  height: 280px;
  background: url('assets/choice-art.png') no-repeat bottom center;
  background-size: contain;
}

.match-btn .btn-content {
  width: 220px;
}

.category-btn {
  border-radius: 35px;
  background-color: #1d2a59;
  font-size: 14px;
  letter-spacing: 1.4px;
  font-weight: 600;
  color: #ffffff;
  width: 100%;
}

@include media-breakpoint-down(lg) {
  .category-btn {
    font-size: 22px;
  }
}

.category-btn:hover {
  color: #dedede;
}

.category-title {
  font-size: 20px;
  font-weight: 600;
  color: #1d2a59;
  letter-spacing: 2px;
}

.agency-name {
  font-size: 24px;
  letter-spacing: 3px;
  font-weight: 600;
  color: #ffffff;
}

.agency-description {
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
}

@include media-breakpoint-down(lg) {
  .agency-name {
    font-size: 16px;
  }
  .agency-description {
    font-size: 8px;
  }
}

.agency-text-container-1 {
  background-image: linear-gradient(to right, #c8ba65, #5e5f54);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.agency-text-container-2 {
  background-color: #1d2a59;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.agency-text-container-3 {
  background-image: linear-gradient(to right, #918b5d, #222c4c);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.agency-text-container-4 {
  background-color: #1d2a59;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.agency-image {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.paginator-page-marker {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  border: solid 1px #1d2a59;
}

.paginator-page-marker.active {
  background-color: #1d2a59;
}

.paginator-page-marker:hover {
  cursor: pointer;
}

.stand-map {
  background: url("assets/map.png") center no-repeat;
  background-size: contain;
}

.map-width {
  width: 550px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.map-mobile-width {
  width: 290px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.stand-map-mobile {
  background: url("assets/mobile-map.png") center no-repeat;
  background-size: contain;
}

.map-marker-icon {
  width: 60px;
}

.map-marker-icon-mobile {
  width: 35px;
}

.stand-name {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}

.stand-name-mobile {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.map-agency-name {
  font-size: 24px;
}

.map-agency-name-mobile {
  font-size: 16px;
}

.compact-height {
  line-height: 0.95;
}

.info-container {
  width: 250px;
  display: block;
}

.agency-bg {
  content: "";
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.info-square {
  height: 200px;
}

.info-square > * {
  width: 100%;
}

.agency-logo-container {
  flex-grow: 1;
  position: relative;
}

.agency-logo {
  width: 150px;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.agency-address {
  text-align: center;
  color: #1d2a59;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
}

.contact-phone-numbers {
  font-size: 18px;
  font-weight: 600;
  color: #1d2a59;
}

.social-media img {
  height: 48px;
}

.candidate-description {
  text-align: center;
  color: #1f4d77;
  font-size: 16px;
  font-weight: 500;
}

.candidate-name {
  text-align: center;
  color: #1f4d77;
  font-size: 18px;
  font-weight: 600;
}

.recruit-image-container {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  overflow: hidden;
}

@include media-breakpoint-down(lg) {
  .recruit-image-container {
    height: 80px;
    width: 80px;
  }
}

.recruit-image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.polygon-container {
  width: 650px;
  background: url("assets/polygon.png") center no-repeat;
  background-size: contain;
  font-size: 18px;
  font-weight: 600;
  color: #1d2a59;
  letter-spacing: 1.8px;

  .polygon-name {
    font-size: 22px;
    color: #fff;
  }

  .negative-margin {
    margin-left: -20px;
  }

  .margin-right {
    margin-right: 5px;
  }

  .margin-left {
    margin-left: 5px;
  }

  .dot {
    content: "•";
    font-size: 36px;
  }

}

.polygon-container-mobile {
  width: 300px;
  background: url("assets/polygon-mobile.png") center no-repeat;
  background-size: contain;
  font-size: 10px;
  font-weight: 600;
  color: #1d2a59;
  letter-spacing: 1.8px;

  .polygon-name {
    font-size: 12px;
    color: #fff;
  }

  .negative-margin {
    margin-left: -16px;
  }

  .margin-right {
    margin-right: 3px;
  }

  .margin-left {
    margin-left: 3px;
  }

  .dot {
    content: "•";
    font-size: 20px;
  }

}

.candidate-image-container {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
}

.candidate-image-container > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.button-width {
  width: 250px;
}

.candidate-btn {
  border-radius: 35px;
  background-color: #1d2a59;
  font-size: 13px;
  letter-spacing: 1.4px;
  font-weight: 600;
  color: #ffffff;
  width: 100%;
}

.left-column {
  background-color: #1d2a59;
  color: white;
}

.top-margin {
  margin-top: -75px;
}

.section-name {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}

.section-text {
  font-size: 14px;
  padding-bottom: 20px;
}

.resume-name {
  font-size: 36px;
  font-weight: 600;
  color: #1d2a59;
  letter-spacing: 4px;
}

.resume-job {
  font-size: 28px;
  font-weight: 600;
  color: #1d2a59;
  letter-spacing: 3px;
}

.email {
  color: #1d2a59;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 600;
}

@include media-breakpoint-down(lg) {
  .candidate-image-container {
    width: 80px;
    height: 80px;
  }

  .top-margin {
    margin-top: -40px;
  }

  .section-name {
    font-size: 10px;
  }

  .section-text {
    font-size: 8px;
  }

}

.contact-btn {
  background-color: #83b228;
  border: none;
  font-size: 10px;
  color: white;
  border-radius: 15px;
}

.candidate-btn:hover {
  color: #dedede;
}

.year {
  font-weight: 500;
  font-size: 16px;
}
